				<%= f.fields_for :line_items do |l| %>
				<div class="container">
					<h1 class="hdr_pickSize">white box ads come in two sizes. Pick One and get started.</h1>
					
					<fieldset>
						<% 
						i=0
						@products.each do |p| %>
						<div class="size-radio">
							<label for="radio<%= i %>">
						 
								<%= l.radio_button :product_id,   p.id , :id => "radio#{i}", :class => "size-option radio" %>
								<span class="label-text label-type"><strong><%= p.name %></strong><br /><%= p.description %> Cost: <%= number_to_currency p.price %> a day</span>
							</label>
						</div>
 
						<% i = i +1
						end %>
					</fieldset>
					
				</div>

				<hr class="bdr-dotted divider" />

				<div class="container medias" style="display:<%= @product.present? ? "block" : "none" %>;">
					<%= render :partial => "products/medias" if @product.present? %>
				</div>
				<% end %>